# config/config.yaml
project:
  name: "InvestAdvisor_fdu_bigData_2025"
  author: "Feng Mengchu @fdu_25210690088"
  project_dir: "/root/nas-private/bigdata_final_project"

# 意图识别
intent_recognition:
  max_loop: 5   # 最大试错次数

# LLM 和 Embedding 模型配置
llm:
  model_name: "Qwen2.5-7B-Instruct"
  model_dir: "models/Qwen2.5-7B-Instruct"
  cache_dir: "models/huggingface_cache"
  context_window: 8192
  max_new_tokens: 10240
  max_memory_map: "{0: '23GiB'}"
  temperature: 0.6
  topk: 50
  do_sample: True

embedding:
  model_name: "bge-small-zh-v1.5"
  model_dir: "models/bge-small-zh-v1.5"
  cache_dir: "models/huggingface_cache"

# RAG参数
rag:
  chunk_size: 512
  chunk_overlap: 50
  similarity_top_k: 3
  index_persist_dir: "data/storage"

# 金融数据配置
financial_data:
  update_frequency: 7
  rice_quant_uri: "tcp://license:BMyPixcVQXxsui5fCmvH9BOD5n_k9npLQLbHruaWk_4ov3ge25hLxtOQILddXB00y1UPnGXWXUga2a66ScdKwiGsO4a_CXga2ItID0nVzPOSSF5YVh2CgHbUVq2tlyfezRDSyFSLu0clL9IYVmL8__t7tsB9P-L6w7JLGPEh8Ps=NWFZwzx0mh2GCDPPsU9FdAGWH4plnfS-a6f-9cI9t-AqVo9qajWy-pnNwHTfsdMBtIedP21AU1i8f1Is86lsl_MAyjkoPEIZaL1ZPLzBofhmJB9IetIoENUc0Kw91mVgTTFtAf9MeML05qLgBxplRZkLyEVPl-hA4vW5PTlpXtg=@rqdatad-pro.ricequant.com:16011"
  features_max_rolling_window: 60

# 因子配置
factors:
    fundamental_fields: [
      # 价值因子 (Value Factors)
          'pb_ratio_ttm',
          'pe_ratio_ttm',
          'cfp_ratio_ttm',
          'book_to_market_ratio_ttm',
          'ev_to_ebitda_ttm',

      # 质量因子 (Quality Factors)
          'return_on_equity_ttm',
          'gross_profit_margin_ttm',
          'surplus_cash_protection_multiples_ttm',
          'operating_cycle_ttm',
          'ocf_to_net_debt_ttm',

      # 规模因子 (Size Factors)
          'market_cap_3',
          'a_share_market_val_in_circulation',

      # 盈利能力因子 (Profitability Factors)
          'net_profit_growth_ratio_ttm',
          'operating_profit_to_profit_before_tax_ttm',
          'net_profit_margin_ttm',
          'return_on_asset_ttm',

      # 成长因子 (Growth Factors)
          'inc_revenue_ttm',
          'net_profit_parent_company_growth_ratio_ttm',
          'net_operate_cash_flow_growth_ratio_ttm',
          'total_asset_growth_ratio_ttm',

      # 财务稳健性因子 (Financial Stability Factors)
          'debt_to_asset_ratio_ttm',
          'time_interest_earned_ratio_ttm',
          'current_ratio_ttm',
          'cash_ratio_ttm',

      # 计算ASSET_QUALITY所需的字段
          'total_assets_mrq_0',
          'goodwill_mrq_0'
    ]   # 基本面因子字段(直接从api获取)

# 模型配置
mlModels:
  cv_fold: 4
  num_boost_rounds: 3000
  train_ratio: 0.6
  val_ratio: 0.2
  cv_metric: 'ic'
  parameters: {
      'objective': 'regression',
      'metric': 'mae',
      'boosting_type': 'gbdt',
      'num_leaves': 31,
      'learning_rate': 0.03,
      'feature_fraction': 0.8,
      'bagging_fraction': 0.8,
      'bagging_freq': 5,
      'min_child_samples': 20,
      'lambda_l1': 0.2,
      'lambda_l2': 0.2,
      'early_stopping_rounds': 100,
      'verbose': -1,
      'seed': 42,
      'n_jobs': -1
  }
  cs_list: [
    # 传媒
    '000156.XSHE', '000607.XSHE', '000665.XSHE', '000676.XSHE', '000681.XSHE',
    # 电力设备
    '000009.XSHE', '000049.XSHE', '000159.XSHE', '000400.XSHE', '000533.XSHE',
    # 电子
    '000020.XSHE', '000021.XSHE', '000045.XSHE', '000050.XSHE', '000062.XSHE',
    # 房地产
    '000002.XSHE', '000006.XSHE', '000011.XSHE', '000014.XSHE', '000029.XSHE',
    # 纺织服饰
    '000017.XSHE', '000026.XSHE', '000726.XSHE', '000850.XSHE', '000955.XSHE',
    # 非银金融
    '000166.XSHE', '000415.XSHE', '000532.XSHE', '000563.XSHE', '000567.XSHE',
    # 钢铁
    '000629.XSHE', '000655.XSHE', '000708.XSHE', '000709.XSHE', '000717.XSHE',
    # 计算机
    '000004.XSHE', '000034.XSHE', '000066.XSHE', '000158.XSHE', '000409.XSHE',
    # 家用电器
    '000016.XSHE', '000333.XSHE', '000404.XSHE', '000521.XSHE', '000541.XSHE',
    # 建筑材料
    '000012.XSHE', '000055.XSHE', '000401.XSHE', '000619.XSHE', '000672.XSHE',
    # 建筑装饰
    '000010.XSHE', '000032.XSHE', '000065.XSHE', '000498.XSHE', '000628.XSHE',
    # 交通运输
    '000088.XSHE', '000089.XSHE', '000099.XSHE', '000429.XSHE', '000520.XSHE',
    # 煤炭
    '000552.XSHE', '000571.XSHE', '000723.XSHE', '000937.XSHE', '000983.XSHE',
    # 汽车
    '000030.XSHE', '000338.XSHE', '000550.XSHE', '000559.XSHE', '000570.XSHE',
    # 商贸零售
    '000007.XSHE', '000058.XSHE', '000061.XSHE', '000151.XSHE', '000417.XSHE',
    # 社会服务
    '000428.XSHE', '000430.XSHE', '000524.XSHE', '000526.XSHE', '000558.XSHE',
    # 石油石化
    '000059.XSHE', '000096.XSHE', '000301.XSHE', '000554.XSHE', '000637.XSHE',
    # 食品饮料
    '000529.XSHE', '000568.XSHE', '000596.XSHE', '000639.XSHE', '000716.XSHE',
    # 通信
    '000063.XSHE', '000070.XSHE', '000586.XSHE', '000839.XSHE', '000889.XSHE',
    # 医药生物
    '000028.XSHE', '000078.XSHE', '000153.XSHE', '000403.XSHE', '000411.XSHE',
    # 银行
    '000001.XSHE', '001227.XSHE', '002142.XSHE', '002807.XSHE', '002839.XSHE'
  ]

# 路径配置 (使用相对路径)
paths:
  raw_data: "data/raw"
  financial_data: "data/financial_data"
  factor_data: "data/factor_data"
  processed_data: "data/processed"
  trained_models: "data/trained_models"
  ml_packs: 'data/ml_packs'
  memories: 'data/ml_packs/memories'