# config/config.yaml
project:
  name: "InvestAdvisor_fdu_bigData_2025"
  author: "Feng Mengchu @fdu_25210690088"
  project_dir: "/root/nas-private/bigdata_final_project"

# LLM 和 Embedding 模型配置
llm:
  model_name: "Qwen2.5-7B-Instruct"
  model_dir: "models/Qwen2.5-7B-Instruct"
  cache_dir: "models/huggingface_cache"
  context_window: 8192
  max_new_tokens: 1024
  max_memory_map: "{0: '15GiB'}"
  temperature: 0.6
  topk: 50
  do_sample: True

embedding:
  model_name: "bge-small-zh-v1.5"
  model_dir: "models/bge-small-zh-v1.5"
  cache_dir: "models/huggingface_cache"

# RAG参数
rag:
  chunk_size: 512
  chunk_overlap: 50
  similarity_top_k: 3
  index_persist_dir: "data/storage"

# 金融数据配置
financial_data:
  update_frequency: 7
  rice_quant_uri: "tcp://license:BMyPixcVQXxsui5fCmvH9BOD5n_k9npLQLbHruaWk_4ov3ge25hLxtOQILddXB00y1UPnGXWXUga2a66ScdKwiGsO4a_CXga2ItID0nVzPOSSF5YVh2CgHbUVq2tlyfezRDSyFSLu0clL9IYVmL8__t7tsB9P-L6w7JLGPEh8Ps=NWFZwzx0mh2GCDPPsU9FdAGWH4plnfS-a6f-9cI9t-AqVo9qajWy-pnNwHTfsdMBtIedP21AU1i8f1Is86lsl_MAyjkoPEIZaL1ZPLzBofhmJB9IetIoENUc0Kw91mVgTTFtAf9MeML05qLgBxplRZkLyEVPl-hA4vW5PTlpXtg=@rqdatad-pro.ricequant.com:16011"

# 路径配置 (使用相对路径)
paths:
  raw_data: "data/raw"
  financial_data: "data/financial_data"
  processed_data: "data/processed"
  ml_models: "data/trained_models"